<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Sample Test Suite" verbose="1" >
  <test name="Method Test Cases" >
    <classes>
       <class name="com.vapsTechnosoft.IVRM.admission.TC_Masters.TC_Masters_Caste_Category">
        <methods>
        <include name="loginToappWithrequiredCredentials" />
        <include name="tcNavigateToAdmission_Masters_CasteCategory_BGHS" />
         <include name="tcSortByCasteCategoryName" />      
        <include name="tearDown" />
      </methods>
       </class>
    </classes>
  </test>
</suite>